Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

#Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

#Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [43]:
# Multiplying and adding integers
num1 = 5
num2 = 10
product = num1 * num2
sum_result = num1 + num2

product, sum_result

(50, 15)

In [45]:
# Converting minutes to hours
minutes = 120
hours = minutes / 60

hours

2.0

**Objectives**:

- Learn how to work with different data science tools.
- Explore various data science libraries.
- Practice arithmetic expressions in Python.
- Understand how to work with Python code cells.

## Author
Mayar Saad